
<div id="mission">

  <form id="mission" class="cmxform" name="mission" action="/admin/mission" method="post">
    <fieldset>
    <legend>Ajouter une mission</legend>
    <ol>
    <li>
      <label for="campagne" id="campagne_label" >Choisir une Campagne</label>
      <select id="campagne" name="campagne">
        <% @campagnes.each do |c| %>
          <option value="<%= c.id %>" <%if (@selected==c.id)%> selected="selected" <% end %>  > <%=h c.nom %> </option>
        <% end %>
      </select>
      <label><img class="spinner" src="../img/ajax-loader.gif"/></label>
    </li>
    <li>
      <label for="numero" id="numero_label" >Num&eacute;ro</label>
      <input type="text" name="numero" id="numero" placeholder="" size="5"/>
      <label class="error" for="numero" id="numero_error">Champ obligatoire.</label>
    </li>
    <li>
      <label for="nom" id="nom_label" >Nom de la mission</label>
      <input type="text" name="nom" id="nom" placeholder="" size="50"/>
      <label class="error" for="nom" id="nom_error">Champ obligatoire.</label>      
    </li>
    <li>
      <label for="briefing" id="briefing_label" >Briefing</label>
      <textarea name="briefing" id="briefing" placeholder="" cols="50" rows="5"/></textarea>
      <label class="error" for="briefing" id="briefing_error">Champ non valide</label>      
    </li>
    <li>
      <label for="debriefing" id="debriefing_label" >Debriefing</label>
      <textarea name="debriefing" id="debriefing" placeholder="" cols="50" rows="5"/></textarea>
      <label class="error" for="debriefing" id="debriefing_error">Champ non valide</label>      
    </li>

    <li>
      <input type="submit" name="submit" id="submit_btn" class="button" value="Ajouter" />
    </li>
    </ol>  
    </fieldset>
  </form>
  
<h2> Liste des Missions</h2>

<table class="mission" id="hor-minimalist-a" summary="Main Table">
  <!-- Table header -->
  <thead>
    <tr>
      <th scope-"col">Campagne</th>
      <th scope="col">Mission</th>
      <th scope="col">Briefing</th>
      <th scope="col">De-Briefing</th>
      
     </tr>
  </thead>

  <!-- Table body -->
  <tbody>
  <% @missions.each do |m| %>
    <tr>
      <td>
        <%=h m.campagne.nom %>
      </td>
      <td>
        #<%=h m.numero %>: <%=h m.nom %>
      </td>
      <td>
        <%=h m.briefing %>
      </td>
      <td>
        <%=h m.debriefing %>
      </td>
      <td>
        <span><a href="/<%= m.id %>">[edit]</a></span>  
      </td>
      <td>
        <class="meta"><%= m.created_at.strftime("Created: %m/%d/%Y") %>
      </td>  
    </tr>
   <% end %>
  </tbody>  
</table>

</div>