
<h3>Instructions</h3>
<p> A completer....</p>

<form id="mission" class="form-horizontal" action="/admin/mission" method="post">
<fieldset>
<legend>Ajouter une Mission</legend>

<div class="control-group">
  <label class="control-label">Choisir une campagne:</label>
  <div class="controls">
    <select class="span4" id="campagne" name="campagne">
      <% @campagnes.each do |c| %>
        <option value="<%= c.id %>" <%if (@selected==c.id)%> selected="selected" <% end %>  > <%=h c.nom %> </option>
      <% end %>
    </select>
    <img class="spinner" src="../img/ajax-loader.gif"/>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Num&eacute;ro:</label>
  <div class = "controls">
    <input class="span1" type="text" name="numero" id="numero" placeholder=""/>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Nom de la mission:</label>
  <div class="controls">
    <input class="span4" type="text" name="nom" id="nom" placeholder=""/>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Briefing:</label>  
  <div class="controls">
      <textarea class="span4" name="briefing" id="briefing" placeholder="" rows="5"/></textarea>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Debriefing:</label>  
  <div class="controls">
      <textarea class="span4" name="debriefing" id="debriefing" placeholder="" rows="5"/></textarea>
  </div>
</div>
<div class="form-actions">
  <input class="btn btn-primary" type="submit" value="Ajouter Mission &raquo;">
</div>
</fieldset>  
</form> 

  
<h3>Liste des missions existentes</h3>
<table class="mission table table-striped table-bordered table-hover" summary="Main Table">
  <!-- Table header -->
  <thead>
    <tr>
      <th scope-"col">Campagne</th>
      <th scope="col">Mission</th>
      <th scope="col">Briefing</th>
      <th scope="col">De-Briefing</th>
      <th scope="col">Action</th>
      
     </tr>
  </thead>

  <!-- Table body -->
  <tbody>
  <% @missions.each do |m| %>
    <tr>
      <td>
        <%=h m.campagne.nom %>
      </td>
      <td>
        #<%=h m.numero %>: <%=h m.nom %>
      </td>
      <td>
        <%=h m.briefing %>
      </td>
      <td>
        <%=h m.debriefing %>
      </td>
      <td>
        <span><a href="/<%= m.id %>">[edit]</a></span>  
      </td>
    </tr>
   <% end %>
  </tbody>  
</table>
