<div id="links">
<p>
  <h2>Liens:</h2>
  <ul>
    <li><a href="../admin/campagne">Ajouter une campagne</a>
    <li><a href="../admin/pays">Ajouter un pays</a>
  </ul>  
</p> 
</div>

<% if @page=='campagne' %>
  <section id="add">
  <h2>Ajouter une campagne</h2>
    <form action="/admin/campagne" method="post">  
      <textarea name="nom" placeholder="titre campagne"></textarea>
      <textarea name="descriptif" placeholder="descriptif campagne"></textarea>
      <input type="submit" value="Ajouter Campagne!">  
    </form>  
  </section>
<% end %>

<% if @page=='pays' %>
  <section id="add">  
  <h2>Ajouter une nation</h2>
    <form action="/admin/pays" method="post">  
      <textarea name="pays" placeholder="pays"></textarea>
      <input type="submit" value="Ajouter Pays!">  
    </form>  
  </section>
<% end %>

<section id="campagne">
<h2> Liste des campagnes</h2>
  <% i=1 %>
  <% @campagnes.each do |campagne| %>  
      <p>  
        <%= i %>
        <%=h campagne.nom %>
        <%=h campagne.descriptif %>
        <span><a href="/admin/<%= campagne.id %>">[edit]</a></span>  
      </p>
      <% i=i+1 %>
      <p class="meta">Created: <%= campagne.created_at %></p>     
  <% end %>     
</section>


<section id="pays">  
  <h2> Liste des nations</h2>
  <% i=1 %>
  <% @nations.each do |n| %>  
    <p>
      <%= i %> <%=h n.pays %>
    </p>
    <% i=i+1 %>
  <% end %>  
</section>
