<h3>Instructions</h3>
<p> Choisir une mission de la campagne actuelle pour voir les resultats de cette mission. Pour changer de campagne, utiliser le menu deroulant en haut de page.</p>

<fieldset>
<legend>Choisir une Mission</legend>
<form class="form-inline" action="/campagne" method="post">
  <select class="span4" name="id">
    <% @missions.each do |m| %>
    <option class="span3" value="<%= m.id %>" <% if m.id.to_s == @m_id %> selected="selected" <% end %> >
      <%= m.numero %>: <%= m.nom %> 
    </option>
    <% end %> 
  </select>
  <input class="btn btn-primary" type="submit" value="Go &raquo;"/>
</form>
</fieldset>

<% if @display_table %>
<h3> Compte rendu de la mission #<%= @mission %> </h3>

<table class="table table-striped table-bordered table-hover" summary="Main Table">
  <thead>
    <tr>
      <th scope="col">Grade</th>
      <th scope="col">Autruche</th>
      <th scope="col">Avion pilote</th>
      <th scope="col">Victoires aeriennes</th>
      <th scope="col">Missions d'attaque</th>
      <th scope="col">Temps de vol</th>
      <th scope="col">Statut en fin de mission</th>
      <th scope="col">Dernier role du pilote</th>
      <th scope="col">Decorations</th>
    </tr>
  </thead>
  
  <!-- Table body -->
  <tbody>
  <%  @pilot_table.each do |p| %>
    <tr>
      <td>
        <img src="<%= p["grade_img"] %>"/>
      	<%= p["grade"] %>
      </td>
      <td>
        <%= p["callsign"] %>
      </td>
      <td>
        <img src='<%= p["monture_img"] %>'/>
      </td>
      <td>
        <%= p["vic_conf"] %>
      </td>
      <td>
        <%= p["vic_part"] %>
      </td>
      <td>
        <%= p["temps_vol"] %>
      </td>
      <td>
        <%= p["statut"] %>
      </td>
      <td>
        <%= p["role"] %>
      </td>
      <td>
        <%= p["deco"] %>
      </td>
    </tr>
    <% end %>
  </tbody>  
</table>

<% end %>
