
<br>
<h3>Infos</h3>

<div id="info">
Remplissez le formulaire avec attention. N'oubliez pas, vous pouvez apporter une description plus pr&eacute;cise
pour chaque revendication. Il est inutile de s&eacute;lectionner la liste "confirm&eacute;e", "probable"
etc si la revendication n'est pas une victoire a&eacute;rienne.
</div>
<br>

<!-- ADMIN MISSION -->

  <form id="mission" class="cmxform" action="/cr_mission" method="post">  
  <fieldset>
    <legend>Formulaire mission</legend>
    <ol>
      <li>
        <label> Mission: </label>
        <select name="choix_mission">
        <% @missions.each do |m| %>
          <option value="<%= m.id %>"> <%= m.numero %>-<%=h m.nom %> </option>
        <% end %>
        </select>
      </li>
      <li>
        <label> Avatar actif:</label>
        <input class="disabled" type="text" readonly="readonly" name="choix_avatar" value="<%= @avatar.id %>" />
      </li>
      <li>    
        <label> Avion pilot&eacute;: </label>
        <select name="choix_monture">
        <% @montures.each do |m| %>
          <option value="<%= m.id %>"> <%=h m.modele %> </option>
        <% end %>
        </select>
      </li>
      <li>
        <label> R&ocirc;le (initial) du pilote: </label>
        <select name="choix_role">
        <% @roles.each do |r| %>
          <option value="<%= r.id %>"> <%=h r.type %> </option>
        <% end %>
        </select>
      </li>
      <li>
        <label> Temps de vol (hh:mm): </label>
        <input type="text" name="temps_vol" placeholder="hh:mm" />
      </li>
      <li>
        <label> Statut en fin de mission: </label>
        <select name="choix_statut">
        <% @statuts.each do |s| %>
          <option value="<%= s.id %>"> <%=h s.statut %> </option>
        <% end %>
        </select>
      </li>
      <li class="revendication">
        <label>Revendication:</label>
        <select name="revendication">
          <% @revendications.each do |r| %>
            <option value="<%= r.id %>"> <%=h r.descriptif %> </option>
          <% end %>
        </select>
        <input class="revendication" type="text" name="info_complementaire" placeholder="infos complementaires"/>
        <select name="victoire">
          <% @victoires.each do |v| %>
            <option value="<%= v.id %>"> <%=h v.type %> </option>
          <% end %>          
        </select>
        <a id="add" href="/"><img src="../img/add.png"/></a>
      </li>        
    </ol>
    <input type="submit" value="Soumettre Formulaire!">
  </fieldset>  
</form>  
 

  <h3>Liste des missions pr&eacute;alablement effectu&eacute;es</h3>
  <table id="hor-minimalist-a" summary="Main Table">
    <!-- Table header -->
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Campagne</th>
        <th scope-"col">Mission</th>
        <th scope="col">Avatar</th>
        <th scope="col">Monture</th>
        <th scope="col">Role</th>
        <th scope="col">Statut</th>
        
       </tr>
    </thead>
    
    <!-- Table body -->
    <tbody>
    <% i=1 %>
    <% @flights.each do |flight| %> 
      <tr>
        <td>
          <%= i %>
        </td>
        <td>
          <%=h flight.mission.campagne.nom %>
        </td>
        <td>
          <%=h flight.mission.nom %>
        </td>
        <td>
          <%=h flight.avatar.prenom %> <%=h flight.avatar.nom %>
        </td>
        <td>
          <%=h flight.monture.modele %>
        </td>
        <td>
          <%=h flight.role.type %>
        </td>
        <td>
          <%=h flight.statut_fin_mission.statut %>
        </td>
        <td>
          <span><a href="/<%= flight.avatar.id %>/<%= flight.mission.id %>">[edit]</a></span>  
        </td>
        <td>
          <class="meta"><%= flight.created_at.strftime("Created: %m/%d/%Y") %>
        </td>  
      </tr>
      <% i=i+1 %>
      <% end %>
    </tbody>  
  </table>
