<br>
<form action="/" method="post">  
  <fieldset>
    <legend>Set session parameters (temp hack until authentification is in place)</legend>

        <label> Pilote: </label>
        <select name="choix_autruche">
        <% @autruches.each do |a| %>
          <option value="<%= a.id %>"> <%=h a.callsign %> </option>
        <% end %>
        </select>
        <label> Campagne: </label>
        <select name="choix_campagne">
        <% @campagnes.each do |c| %>
          <option value="<%= c.id %>"> <%=h c.nom %> </option>
        <% end %>
        </select>
        <input id="submit_btn" type="submit" value="Go!" />
  </fieldset>
</form>  
<p>

<h3>Tableau General: <%= Campagne.get(session[:campagne]).nom %></h3>
<table id="hor-minimalist-a" summary="Main Table">
  <!-- Table header -->
  <thead>
    <tr>
      <th scope="col">Grade</th>
      <th scope="col">Autruche</th>
      <th scope="col">Nombre de missions</th>
      <th scope="col">Dernier avion pilote</th>
      <th scope="col">Victoires aeriennes</th>
      <th scope="col">Missions d'attaque</th>
      <th scope="col">Temps de vol total</th>
      <th scope="col">Dernier role du pilote</th>
      <th scope="col">Decorations</th>
    </tr>
  </thead>
  
  <!-- Table body -->
  <tbody>
    <% @tabgen.each do |aut| %>
    <tr>
      <td>
        <% @image_link = "../img/icons/grades/" + @nation + Grade.get(aut.grade_id).img_src %>
        <img src="<%= @image_link %>" style="float:left; clear:left;">
        <%= Grade.get(aut.grade_id).nom %>
      </td>
      <td>
        <%= Autruche.get(aut.autruche_id).callsign %>
      </td>
      <td>
        <%= aut.nbr_missions %>
      </td>
      <td>
        <% @image_link = "../img/icons/avions/" + @nation + Monture.get(aut.monture_id).modele.gsub!("-", "") + ".png" %>
        <% @alt_text = Monture.get(aut.monture_id).modele%>
        <img src="<%= @image_link %>" alt="<%= @alt_text %>">
      </td>
      <td>
        <% @image_link = "../img/icons/marquage/common/air.png"%>
        <% aut.nbr_vict.times do %>
          <img src="<%= @image_link %>">
        <% end %>
      </td>
      <td>
        <% @image_link = "../img/icons/marquage/common/sol.png"%>
        <% aut.nbr_atck_sol.times do %>
          <img src="<%= @image_link %>">
        <% end %>
      </td>
      <td>
        <%= aut.tps_vol_tot %>
      </td>
      <td>
        <%= Role.get(aut.role_id).type %>
      </td>
      <td>
        <%= aut.palmares %>
      </td>
    </tr>
    <% end %>
  </tbody>  
</table>
</br>
