<div id="links">
<p>
<h3>Liens:</h3>
  <ul>
    <li> <a href="../admin">Administration de la base</a>
    <li> <a href="../cr_mission">Formulaire mission (compte rendu)</a>
    <li> <a href="">Recapitulatif pilote (not active)</a>
    <li> <a href="">Recapitulatif campagne (not active)</a>
  </ul>
</p> 
</div>

Temporary hack until authentification in place:
<form class="cmxform" action="/" method="post">  
  <fieldset>
    <legend>Set session parameters</legend>
    <ol>
      <li>
        <label> Pilote: </label>
        <select name="choix_autruche">
        <option value=""> -- </option>
        <% @autruches.each do |a| %>
          <option value="<%= a.id %>"> <%=h a.callsign %> </option>
        <% end %>
        </select>
      </li>
      <li>
        <label> Campagne: </label>
        <select name="choix_campagne">
        <option value=""> -- </option>
        <% @campagnes.each do |c| %>
          <option value="<%= c.id %>"> <%=h c.nom %> </option>
        <% end %>
        </select>
      </li>
      <li>
        <input type="submit" value="Go!" />
      </li>
    </ol>
  </fieldset>
</form>  
<p>

<h2>Tableau General</h2>
<table id="hor-minimalist-a" summary="Main Table">
  <!-- Table header -->
  <thead>
    <tr>
      <th scope="col">Grade</th>
      <th scope="col">Autruche</th>
      <th scope="col">Nombre de missions</th>
      <th scope="col">Dernier avion pilote</th>
      <th scope="col">Victoires aeriennes</th>
      <th scope="col">Missions d'attaque</th>
      <th scope="col">Temps de vol total</th>
      <th scope="col">Dernier role du pilote</th>
      <th scope="col">Citations</th>
      <th scope="col">Medailles</th>     
    </tr>
  </thead>
  
  <!-- Table body -->
  <tbody>
    <% @autruches.each do |autruche| %>
    <tr>
      <td>
        Grade
      </td>
      <td>
        <%=h autruche.callsign %>
      </td>
      <td>
        Nbr de missions
      </td>
      <td>
        Dernier avion
      </td>
      <td>
        Victoires aeriennes  
      </td>
      <td>
        Missions attaque
      </td>
      <td>
        Temps de vol
      </td>
      <td>
        Dernier Role
      </td>
      <td>
        Citations
      </td>
      <td>
        Medailles
      </td>
    </tr>
    <% end %>
  </tbody>  
</table>