<br>
<form action="/" method="post">  
  <fieldset>
    <legend>Set session parameters (temp hack until authentification is in place)</legend>

        <label> Pilote: </label>
        <select name="choix_autruche">
        <% @autruches.each do |a| %>
          <option value="<%= a.id %>"> <%=h a.callsign %> </option>
        <% end %>
        </select>
        <label> Campagne: </label>
        <select name="choix_campagne">
        <% @campagnes.each do |c| %>
          <option value="<%= c.id %>"> <%=h c.nom %> </option>
        <% end %>
        </select>
        <input id="submit_btn" type="submit" value="Go!" />
  </fieldset>
</form>  
<p>

<h3>Tableau General</h3>
<table id="hor-minimalist-a" summary="Main Table">
  <!-- Table header -->
  <thead>
    <tr>
      <th scope="col">Grade</th>
      <th scope="col">Autruche</th>
      <th scope="col">Nombre de missions</th>
      <th scope="col">Dernier avion pilote</th>
      <th scope="col">Victoires aeriennes</th>
      <th scope="col">Missions d'attaque</th>
      <th scope="col">Temps de vol total</th>
      <th scope="col">Dernier role du pilote</th>
      <th scope="col">Citations</th>
      <th scope="col">Medailles</th>     
    </tr>
  </thead>
  
  <!-- Table body -->
  <tbody>
    <% @autruches.each do |autruche| %>
    <tr>
      <td>
        Grade
      </td>
      <td>
        <%=h autruche.callsign %>
      </td>
      <td>
        Nbr de missions
      </td>
      <td>
        Dernier avion
      </td>
      <td>
        Victoires aeriennes  
      </td>
      <td>
        Missions attaque
      </td>
      <td>
        Temps de vol
      </td>
      <td>
        Dernier Role
      </td>
      <td>
        Citations
      </td>
      <td>
        Medailles
      </td>
    </tr>
    <% end %>
  </tbody>  
</table>
<div>
  Placeholder format
  <img src="../img/tab_gen.png">
</div>