<div id="links">
<p>
  Links:
  <ul>
    <li> <a href="../admin">admin page</a>
  </ul>
</p> 
</div>
</p>
<p>
  Pilote
</p>
<p></p>


<section id="add">  
  <form action="/" method="post">  
    <textarea name="nom" placeholder="nom autruche"></textarea>
    <textarea name="prenom" placeholder="prenom autruche"></textarea>
    <textarea name="callsign" placeholder="callsign"></textarea>   
    <input type="submit" value="Ajouter!">  
  </form>  
</section>


<table id="hor-minimalist-a" summary="Main Table">
  <!-- Table header -->
  <thead>
    <tr>
      <th scope="col" id="callsign">Callsign</th>
      <th scope="col" id="nom">Nom</th>
      <th scope="col" id="prenom">Prenom</th>
    </tr>
  </thead>
  
  <!-- Table body -->
  <tbody>
    <% @autruches.each do |autruche| %>
    <tr>
      <td>
        <%=h autruche.callsign %>
      </td>
      <td>
        <%=h autruche.nom %>
      </td>
      <td>
        <%=h autruche.prenom %>
      </td>
      <td>
        <span><a href="/<%= autruche.id %>">[edit]</a></span>  
      </td>
      <td>
        <class="meta"><%= autruche.created_at.strftime("Created: %m/%d/%Y") %>
      </td>  
    </tr>
    <% end %>
  </tbody>  
</table>