<!doctype html>  
<html lang="en">
<head>     
  <meta charset="utf8">  
  <title><%= "#{@title} | #{SITE_TITLE}" %></title>  
  <link href="/reset.css" rel="stylesheet">  
  <link href="/style.css" rel="stylesheet">
  <link href="/rss.xml" rel="alternate" type="application/rss+xml">
    
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <!-- load custom js for each route -->
  <% if @js %>
    <script type="text/javascript" src="/js/<%= @js %>"></script>
  <% end %>  

</head>

<body>  

  <div>
    <h2><a href="/"><%= SITE_TITLE %></a></h2>  
    <h3><%= SITE_DESCRIPTION %></h3>
  
  <em style="color: blue">
    Campagne en cours:
    <% if (session[:campagne]) %>
      <%=h Campagne.get(session[:campagne]).nom %>
    <% end%>
  </em>
  <br>
  <em style="color: blue">
    Autruche connectee: AV_
    <% if (session[:autruche]) %>
      <%=h Autruche.get(session[:autruche]).callsign %>
    <% end %></em>
  <br>
    

  <div>
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %>
    <% end %>
    
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %>
    <% end %>
  </div>
    
  <%= yield %>
  
  <footer>
    <p>
    <p><small>Une application pour les <a href="http://forum.autruches.org">Autruches</a>.</small></p>  
  </footer>  

</body>

</html>  