<!doctype html>  
<html lang="en">
<head>  
   
  <meta charset="utf8">  
  <title><%= "#{@title} | #{SITE_TITLE}" %></title>  
  <link href="/reset.css" rel="stylesheet">  
  <link href="/style.css" rel="stylesheet">
  <link href="/rss.xml" rel="alternate" type="application/rss+xml">
</head>  
<body>  
  <div class="row">  
      <div class="column grid_12">
        <h1><a href="/"><%= SITE_TITLE %></a></h1>  
        <h2><%= SITE_DESCRIPTION %></h2>
      </div>
  </div>  
  
  
  <div class="row">
    <div class="column grid_4">
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %>
    <% end %>
    
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %>
    <% end %>
    </div>
     
  </div>
    
  <%= yield %>
  
  <footer>  
    <p><small>Une application pour les <a href="http://forum.autruches.org">Autruches</a>.</small></p>  
  </footer>  
</body>  
</html>  