<h3>Ardoise du Pilote</h3>

<% @unique_avatars.each do |aid| %>
<h4>Avatar: <%= "id: " + aid.to_s + " " + Avatar.get(aid).nom + " " + Avatar.get(aid).prenom%> </h4>
<table id="hor-minimalist-a" summary="Main Table">
  <thead>
    <tr>
      <th scope="col">Grade</th>
      <th scope="col">No. de mission</th>
      <th scope="col">Avion pilote</th>
      <th scope="col">Victoires aeriennes</th>
      <th scope="col">Missions d'attaque</th>
      <th scope="col">Temps de vol</th>
      <th scope="col">Statut en fin de mission</th>
      <th scope="col">Dernier role du pilote</th>
      <th scope="col">Decorations</th>
    </tr>
  </thead>
  
  <!-- Table body -->
  <tbody>
  <%  @flights.each do |f| %>
    <% if f.avatar_id == aid %>
    <tr>
      <td>
        <% @image_link = "../img/icons/grades/" + @nation + f.avatar.promotions.last.grade.img_src %>
        <img src="<%= @image_link %>" style="float:left; clear:left;">
      	<%= f.avatar.promotions.last.grade.nom %>
      </td>
      <td>
        <%= f.mission.numero %>
      </td>
      <td>
        <% @image_link = "../img/icons/avions/" + @nation + Monture.get(f.monture_id).modele.gsub!("-", "").downcase + ".png" %>
        <% @alt_text = Monture.get(f.monture_id).modele %>
        <img src="<%= @image_link %>" alt="<%= @alt_text %>">
      </td>
      <td>
        <% @image_link = "../img/icons/marquage/common/air.png"%>
        <% f.flight_results.revendication.count(:id => 1).times do %>
          <img src="<%= @image_link %>">
        <% end %>
      </td>
      <td>
        <% @image_link = "../img/icons/marquage/common/sol.png"%>
        <% f.flight_results.revendication.count(:id => 2).times do %>
          <img src="<%= @image_link %>">
        <% end %>
      </td>
      <td>
        <%= f.tps_vol_hr.to_s + "h" + f.tps_vol_min.to_s %>
      </td>
      <td>
        <%= f.statut_fin_mission.statut %>
      </td>
      <td>
        <%= Role.get(f.role_id).type %>
      </td>
      <td>
        <% f.rewards.each do |r| %>
        	<%= r.decoration.nom %>
        <% end %>
      </td>
    </tr>
    <% end %>
  <% end %>
  </tbody>  
</table>
<% end %>

